.backgroundColor {
  color: var(--white);
}

.container {
  max-width: var(--desktop);
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 3em;

  text-align: center;

  .photos {
    margin-bottom: -5.5em;
  }

  .background {
    position: absolute;
    width: 100%;
    top: 1em;
    right: 0;
    z-index: -1;
  }
  .mockups {
    width: 100%;
    padding-inline: 1em;
    transform: translateY(-6.5em);
    clip-path: inset(6.5em 0 0 0);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding-inline: 2em;

    align-items: center;

    h1 {
      font-size: var(--font-size-large);
      font-weight: var(--font-weigts-light);

      color: var(--dark-blue);
    }
    p {
      line-height: 1.75em;

      color: var(--grayish-blue);
      opacity: 0.7;

      width: min(100%, 30em);
    }
  }
}

@media (min-width: 770px) {
  .backgroundColor {
    background-image: url("../../../assets/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 52em -17em;
  }
  .container {
    position: relative;
    padding-block: 10em;

    .photos {
      margin: 0;
    }
    .background {
      display: none;
    }
    .mockups {
      display: none;
      width: auto;
      transform: none;
      clip-path: none;

      position: absolute;
      top: -10em;
      left: 20;
    }

    .info {
      align-items: start;
      text-align: start;

      gap: 2em;

      h1 {
        margin-right: 12em;
        font-size: var(--font-size-larger);
      }
    }
  }
}
