.backgroundColor {
  color: var(--very-light-gray);
}

.container {
  max-width: var(--desktop);
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 3em;

  text-align: center;

  .photos {
    margin-bottom: -5.5em;
  }

  .background {
    position: absolute;
    width: 100%;
    top: 1em;
    right: 0;
    z-index: -1;
  }
  .mockups {
    width: 100%;
    padding-inline: 1em;
    transform: translateY(-6.5em);
    clip-path: inset(6.5em 0 0 0);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1em;

    align-items: center;

    h1 {
      font-size: var(--font-size-large);
      font-weight: var(--font-weigts-light);

      color: var(--dark-blue);

      padding-inline: 2em;
    }
    p {
      line-height: 1.75em;

      color: var(--grayish-blue);
      opacity: 0.7;

      width: min(100%, 30em);
    }
  }
}

@media (min-width: 1100px) {
  .backgroundColor {
    background-image: url("../../../assets/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 42vw -17em;
  }
  .container {
    display: block;
    padding: 7em 0 7em 1em;

    flex-direction: row;

    .photos {
      max-width: 100%;
      position: absolute;
      right: 0;
      top: -2em;
      overflow: hidden;

      margin: 0;
    }
    .background {
      display: none;
    }
    .mockups {
      padding: 0;
      width: auto !important;
      height: auto;

      transform: translateX(17%);

      clip-path: none;
    }

    .info {
      align-items: start;
      text-align: start;

      gap: 2em;
      margin-right: 40em;

      h1 {
        padding: 0;

        font-size: var(--font-size-larger);
      }
    }
  }
}

@media (min-width: 770px) {
  .container {
    .mockups {
      width: 80%;
    }
  }
}
@media (min-width: 1000px) {
  .container {
    .mockups {
      width: 70%;
    }
    .info {
      padding-top: 5em;
    }
  }
}
