.container {
  display: grid;
  justify-items: center;
  gap: 2em;

  padding: 4.5em 1em;

  background-color: var(--very-light-gray);

  h3 {
    font-weight: var(--font-weigts-light);
    font-size: var(--font-size-large);

    color: var(--dark-blue);
  }

  article {
    background-color: var(--white);

    border-radius: 0.5em;

    width: min(100%, 30em);

    img {
      aspect-ratio: 3/2;
      width: 100%;

      border-radius: 0.5em 0.5em 0 0;
    }

    .info {
      display: grid;
      gap: 0.75em;

      padding: 2.25em 2em;

      p {
        color: var(--grayish-blue);
        font-weight: var(--font-weigts-light);

        opacity: 0.75;
      }
      h4 {
        font-weight: var(--font-weigts-regular);
        font-size: var(--font-size-medium);

        color: var(--dark-blue);
      }
      .author {
        font-size: var(--font-size-smaller);
      }
      .description {
        font-size: var(--font-size-small);
      }
    }
  }
}
